# DB CONFIG

DB_USERNAME=your-db-username
DB_PASSWORD=your-db-username-password
DB_HOST=your-db-host
DB_PORT=your-db-host-port
DB_NAME=your-db-name

# APP CONFIG

PORT=your-app-desired-port
APP_SERVER=your-running-app-url
NODE_ENV=deployment or production
LOG_LEVEL=info or debug

JWT_TOKEN_SECRET=generated-secret-token
JWT_EXPIRES_IN=[n]h or [n]m or [n]s

# FRONTEND CONFIG

FRONTEND_LINK=your-client-url


# MAILER CONFIG

SMTP_SECURE=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=